# standard python gitignore stuff
*.pyc
*.pyo
*.pyd
__pycache__
# venv
venv/
# venv/bin/activate
venv/bin/activate.csh
.env
.csv
.json
email_credentials.json
email_token.json
.gitignore
lastfile.txt
*.csv
*.json
todo
user_info.txt
user_resume.txt
*.txt